{% extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <h1>Item list</h1>

    {% import 'EETYSBundle::Item/Component/macro.html.twig' as macro %}
    {% for item in entities %}
        <hr>
        {# use macro depending on item type #}
        {{ attribute(macro, item.type, [item]) }}
    {% endfor %}
{% endblock %}
