{% extends 'EETYSBundle::base.html.twig' %}

{% block content %}

    {% include 'EETYSBundle::Item/Component/steps.html.twig' %}


    <div class="page-header">
        <h1>{{ 'story.addItem.page_header.h1' | trans | raw }}</h1>
    </div>

    {% include 'EETYSBundle::Item/Component/item_types.html.twig' %}

    {% import 'EETYSBundle::Item/Component/macro.html.twig' as macro %}

    {{ attribute(macro, 'map', [story]) }}


    {% for item in story.items %}
        {% if (edited_item is defined and (item.id == edited_item.id)) %}
            <div class="row item">
                {% include 'EETYSBundle::Item/Component/edit_form.html.twig' with {
                    'entity': edited_item,
                    'edit_form': edited_item_edit_form,
                    'delete_form': edited_item_delete_form
                } %}
            </div>
        {% else %}
            {# use macro depending on item type #}
            {{ attribute(macro, item.type, [item]) }}
        {% endif %}
    {% endfor %}
{% endblock %}
