{% extends 'EETYSBundle:Default:homepage.html.twig' %}

{% block content %}
    <div class="container">
        {% include 'EETYSBundle:Component:search.html.twig' %}
        {% include 'EETYSBundle:Component:stories_header.html.twig' %}
    </div>
{% endblock %}