{% extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <div class="container">
        {# TODO: enable search #}
        {% include 'EETYSBundle:Component:search.html.twig' %}
        {% include 'EETYSBundle:Component:recently_added.html.twig' %}
    </div>
{% endblock %}

{% block stories %}
    <div id="masonry-container"></div>
{% endblock %}

{% block subheader %}
    {% include "EETYSBundle:Component:step_by_step.html.twig" %}
{% endblock %}