{% extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <div class="container">
        {% include 'EETYSBundle:Component:search.html.twig' %}
        {% include 'EETYSBundle:Component:elements_header.html.twig' %}
    </div>
{% endblock %}

{# {% if app.user.id is defined %} data-user="{{ app.user.id }}"{% endif %} #}
{% block stories %}
    <div id="masonry-container"></div>
{% endblock %}

{% block subheader %}
    {% include "EETYSBundle:Component:step_by_step.html.twig" %}
{% endblock %}