<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                Organizator:
            </div>
            <div class="span8">
                Partnerzy:
            </div>
        </div>
        <div class="row">
            <div class="span4 offset4">
                Projekt dofinansowany przez Muzeum Historii Polski<br>
                w ramach programu Patriotyzm Jutra
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <img src="http://placehold.it/160x80.png" alt=""/>
            </div>
            <div class="span2 offset2">
                <img src="http://placehold.it/160x80.png" alt=""/>
            </div>
            <div class="span2">
                <img src="http://placehold.it/160x80.png" alt=""/>
            </div>
            <div class="span2 offset2">
                <img src="http://placehold.it/160x80.png" alt=""/>
            </div>
        </div>
        <div class="row subfooter">
            <div class="span2 offset4">
                Regulamin
            </div>
            <div class="span2">
                Polityka prywatności
            </div>
            <div class="span2">
                Created by: Laboratorium EE
            </div>
            <div class="span2">
                Designed by: Logotomia
            </div>
        </div>
    </div>
</footer>