<header>
    <div class="container">
        <div class="row">
            <div class="span5">
                <h1><a href="{{ path('eetys_default_homepage') }}">{{ 'header.logo.title' | trans | raw }}</a></h1>
                <h2>{{ 'header.logo.slogan' | trans | raw }}</h2>
            </div>
            <div class="span7">
                {% include "EETYSBundle:Component:top_menu.html.twig" %}
            </div>
        </div>
    </div>
</header>