<div id="recently_added" class="row">
    <div class="span4"></div>
    <div class="span4"><h3>{{ 'default.homepage.recently_added.recently_added' | trans | raw }}</h3></div>
    <div class="span4"></div>
</div>