<div id="stories_header" class="row">
    <div class="span4"></div>
    <div class="span4"><h3>{{ text|default('default.homepage.stories_header.stories_header') | trans | raw }}</h3></div>
    <div class="span4"></div>
</div>