<ul class="nav nav-tabs pull-right">
    <li><i class="icon-add-small"></i>{{ 'header.menu.add_story' | trans | raw }}</li>
    <li><i class="icon-login-small"></i>{{ 'header.menu.login.facebook' | trans | raw }}</li>
</ul>