<ul class="nav nav-tabs pull-right">
    <li><i class="icon-add-small"></i>{{ 'header.menu.add_story' | trans | raw }}</li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ path('eetys_default_logout')  }}"><i class="icon-login-small"></i>Wyloguj się</a></li>
    {% else %}
        <li><a href="{{ path('hwi_oauth_service_redirect', {service: 'facebook'})  }}"><i class="icon-login-small"></i>{{ 'header.menu.login.facebook' | trans | raw }}</a></li>
    {% endif %}
</ul>